.left-sidebar, .right-sidebar {
    position: fixed;
    top: 20px;
    width: 230px;
    height: 90vh;
    background: white;
    color: black;
    border-radius: 15px;
    padding-top: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-sidebar {
    left: 20px;
}

.right-sidebar {
    right: 20px;
}


.left-sidebar img {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.left-sidebar span {
    display: block;
    text-align: center;
    margin: 10px auto;
    color: #BA8E4A;
    font-family: 'Cooper Black';
    font-size: 18px;
}

.menu {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 10px;
}

.menu a {
    display: block;
    padding: 15px;
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    width: 80%;
    text-align: center;
    position: relative;
    z-index: 2;
    transition: 0.3s;
    border-radius: 10px;
}

.active-indicator {
    position: absolute;
    width: 80%;
    height: 40px;
    background: #BA8E4A;
    border-radius: 10px;
    transition: top 0.3s ease-in-out, height 0.2s ease-in-out;
    left: 10%;
    z-index: 1;
}